/* Establecer el body y el html para ocupar toda la altura */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #F2E5D5;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: 'Playwrite GB S', cursive;
    color: #1B3F48;
}

/*HEADER*/
/*HEADER DONDE ESTA EL LOGO Y LAS REDES*/
.logo img{
    height: 85px;
    margin-left: 35px;
}
.LogoRedes{
    margin-bottom:0%;
    background-color: white;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.LogoRedes a{
    text-decoration: none;
    color: black;
}

.Redes img{
    height: 35px;
    margin-right: 5px;
}

/*HEADER DONDE ESTA EL MENU NAVEGACION*/
.Menu{
    margin-top: 0%;
    background-color: #1B3F48;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.Menu ul, .Redes ul{
    display: flex;
    gap:20px;
    list-style: none;
}

.Menu ul{
    margin-left:auto;
}

.Menu a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    position: relative;
}

.Usuario img{
    height: 30px;
}

.Usuario{
    display: flex;
    align-items: center;
    gap: 10px;
}


/*ESTILO PSEUDO-ELEMENTO ::AFTER EN LA LISTA*/
.Menu ul li a::after,.Usuario a::after{
    content: ''; /*sin mostrar contenido pero crea la linea de decoracion*/
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    bottom: -5px; /*para colocar la linea debajo del texto*/
    left: 0;
    transform: scaleX(0); /*reducir la escala*/
    transform-origin: bottom right; /*el origen de la transformacion*/
    transition: transform 0.25s ease-out; /*una transicion suave*/
}
/*HOVER EN LA LISTA DEL HEADER*/
.Menu ul li a:hover::after, .Usuario a:hover::after{
    transform: scaleX(1); /*expansion de la linea a tamaño completo*/
    transform-origin: bottom left; /*cambiar el origen de la transformacion*/
}

/*FOOTER DONDE ESTA EL MENU NAVEGACION*/
.Menu-footer{
    margin-top: 0%;
    background-color: #1B3F48;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.Menu-footer ul{
    list-style: none;
    display: flex;
    gap: 100px;
}

.Menu-footer a{
    text-decoration: none;
    color: white;
}

.Menu-footer a:hover {
    text-decoration: underline;
    font-weight: 600;
}

.Usuario-footer img{
    height: 30px;
}

.Usuario-footer{
    display: flex;
    align-items: center;
    gap: 10px;
}


/*FOOTER COPYRIGHT*/
.Copyright{
    margin: 0%;
    background-color: #284F58;
    height: 30px;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
}

/*CONTENIDO PRINCIPAL*/
.welcome-message {
    text-align: center;
    margin: 20px 0;
}

.welcome-message h1 {
    font-size: 2em;
    margin: 0;
}

.welcome-message p {
    font-size: 1em;
    margin: 5px 0;
}

.slider {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #1B3F48;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide {
    display: none;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
}

.active {
    display: flex;
}

.image-container {
    width: 50%;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1B3F48;
    margin-left: 25px;
    padding: 2%;
}

.image-container img, .image-container iframe {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-content {
    width: 50%;
    height: 100%;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    color: #1B3F48;
    margin: 3%;
}

.text-content h2 {
    margin-top: 0;
    color: #000000;
}

.text-content p {
    font-size: 1em;
    color: #000000;
}

.text-content button {
    background-color: #1B3F48;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.text-content button:hover {
    background-color: #284f58;
}

.slider-controls {
    float: right;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10%;
}

.slider-controls button {
    background-color: #EDEDED;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.slider-controls button:hover {
    background-color: #a5a5a5;
}

.recuadro-slider-controls {
    position: relative;
    width: 10%;
    padding: 10px;
    margin: 1% auto;
    overflow: hidden;
    background-color: #1B3F48;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}